<header id="header" class="header">
  <div class="container">
    <h1>Módulo de usuário</h1>
    <hr>
    <h2>{{ title }}</h2>
  </div>
</header><!-- /header -->

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of return">
          <td scope="row">{{item.name}}</td>
          <td>{{item.tel}}</td>
          <td>{{item.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
