<header id="header" class="header">
  <div class="container">
    <h1>User module</h1>
    <hr>
    <h2>{{ title }}</h2>
  </div>
</header><!-- /header -->

<div class="container">
<div class="form">
    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
        <div class="form-group">
            <label for="field_search">Search:</label>
            <input type="text" class="form-control col-sm-4" id="field_search" name="search" ngModel>
        </div>
        <div class="form-check  form-check-inline">
            <input class="form-check-input" type="radio" name="by" id="field_by_name" value="by-name" checked ngModel>
            <label class="form-check-label" for="field_by_name">By name</label>
        </div>
        <div class="form-check  form-check-inline">
            <input class="form-check-input" type="radio" name="by" id="field_by_email" value="by-email" ngModel>
            <label class="form-check-label" for="field_by_email">By e-mail</label>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Pesquisar</button>
        </div>
    </form>
</div>
</div>