<header id="header" class="header">
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
</header><!-- /header -->

<div class="container">
<div class="form">
    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
        <div class="form-check  form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="field_type_user" value="user" checked ngModel>
            <label class="form-check-label" for="field_type_user">User</label>
        </div>
        <div class="form-check  form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="field_type_email" value="book" ngModel>
            <label class="form-check-label" for="field_type_email">Book</label>
        </div>
        <div class="form-group">
            <label for="field_search">Search:</label>
            <input type="text" class="form-control col-sm-4" id="field_search" name="search" ngModel>
        </div>
            <input class="form-control" type="text" name="by" id="field_by" value="by-name">
        <fieldset id="if-book" class="if-book">
            <legend class="form-text text-muted">Search by</legend>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Pesquisar</button>
        </div>
    </form>
</div>
</div>